@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.master-password-prompt
{
  @apply bg-blue-50 mt-21 flex flex-col justify-center w-[85%] items-center py-4 rounded-lg

  dark:bg-stone-900 

  sm:w-[50%] sm:mt-15
}

.master-password-prompt{
  box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, .9) ;
}

.master-password-prompt h2{
  @apply font-bold
}

.master-password-prompt form{
  @apply flex flex-col justify-center items-center
}

.master-password-prompt button{
  @apply p-1 text-center rounded-lg font-bold cursor-pointer

dark:bg-white dark:text-blue-800
}

.submit-btn{
  @apply mt-4 
}

.master-password-prompt .danger{
  @apply bg-red-600 mt-4
   dark:text-white
}

.master-password-prompt input{
  @apply text-center
}

