@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.master-password-prompt
{
  @apply bg-blue-50 mt-21 flex flex-col justify-center w-[85%] items-center py-4 rounded-4xl

  dark:bg-stone-900 mb-50

  sm:w-[50%] sm:mt-15
}

.master-password-prompt{
  box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, .9) ;
}

.master-password-prompt h2{
  @apply font-bold
}

.master-password-prompt form{
  @apply flex flex-col font-bold justify-center items-center
}

.hint::placeholder{
  @apply font-medium
}

.master-password-prompt button{
  @apply p-1 text-center rounded-lg font-bold cursor-pointer

dark:bg-white dark:text-blue-800
}

.submit-btns{
  @apply mt-4 rounded-4xl text-sm text-white bg-blue-600

  dark:text-blue-500
}

.submit-btns:hover{
  @apply bg-blue-400 text-white
  dark:bg-blue-100 dark:text-blue-700
}

.submit-btns:active{
  @apply text-white bg-blue-300
  dark:bg-blue-200 dark:text-blue-900
}

.master-password-prompt .danger{
  @apply mt-4 text-[.9rem] bg-blue-50
  text-red-600 w-full

  dark:bg-stone-900 dark:text-red-300
}

.master-password-prompt input{
  @apply text-center
}

