@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.password-card-section{
   @apply flex w-[90%] p-4 justify-between items-center rounded-lg mt-8 bg-blue-50
   dark:bg-stone-900 

   sm:w-[50%]
}

.password-card-section{
  box-shadow: .1rem .1rem .5rem rgba(32, 4, 4, 0.9);
}

.user-details{
  @apply text-lg w-[60%]

  sm:text-2xl
}

.user-icons{
  @apply w-[35%] flex flex-col items-end  justify-between gap-1

  sm:w-[20%]
}

.icons{
  @apply w-[30%] rounded-2xl cursor-pointer
  dark:bg-amber-50 flex justify-center items-center
}

.icons{
  box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, .9);
}

.icons:hover{
  @apply bg-blue-200
}

.icons:active{
  @apply bg-blue-400
}

.website{
  @apply font-bold
}

.username-or-email{
  @apply text-lg truncate
}

.icons img{
  @apply w-[100%] m-2
}

.copy-container {
  position: relative;
}

.edit-btn{
  @apply text-black px-3
}

.tooltip {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 4px 8px;
  font-size: 0.75rem;
  border-radius: 4px;
  white-space: nowrap;
  animation: fade 1s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-5px);
  }
  30% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-5px);
  }
}



