@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.password-form-section{
  @apply mt-21 flex flex-col w-[90%] h-[35%] p-2 justify-center items-center rounded-lg
}

.password-form-section{
  box-shadow: .1rem .1rem .7rem rgba(0, 0, 0, .9) ;
}

.password-form-section h2{
  @apply font-bold mt
}

form{
  @apply mt-1 flex flex-col p-4 w-[90%]
}

.input{
  @apply p-2 mb-4 border-none rounded-lg
} 

.input{
  border: 1px solid rgba(0, 0, 0, 0.384);
}

.input::placeholder, .text-area{
  @apply italic
}

.label-divs{
  @apply flex flex-col
}

.text-area{
  @apply h-[5rem] py-4 px-2 rounded-lg
}

.text-area{
  border: 1px solid rgba(0, 0, 0, 0.363);
}

.submit-btn{
  @apply bg-blue-900 p-2 text-white rounded-4xl w-[5rem]
}

.submit-btn:hover{
  @apply bg-blue-700 w-[6rem] py-3
}

.submit-btn:active{
  @apply bg-blue-500
}

.btn-div{
  @apply flex justify-center items-center w-[100%] mt-4
}


