@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.password-card-section{
   @apply flex w-[90%] p-4 justify-between items-center rounded-4xl my-8 bg-blue-50
   shadow-sm shadow-blue-300  

   dark:bg-stone-900 dark:shadow-sm
   dark:shadow-stone-700

   sm:w-[50%]
}

.user-details{
  @apply w-[70%]

  sm:w-[70%]
}

.user-icons{
  @apply w-[25%] flex flex-col items-end  justify-between gap-1

  sm:w-[30%] sm:flex-wrap  sm:flex-row sm:p-5 sm:justify-center sm:items-center sm:h-[100%]
  lg:p-10 
}

.icons{
  @apply w-[40%] rounded-4xl cursor-pointer shadow-xs shadow-blue-300

  dark:shadow-stone-700
  dark:bg-amber-50 flex justify-center items-center

  sm:w-[45%]
}

.icons:hover{
  @apply bg-blue-200
}

.icons:active{
  @apply bg-blue-400
}

.website{
  @apply font-bold text-3xl
}

.user-details .p{
  @apply text-lg

  sm:text-2xl
}

.email{
  @apply truncate
}

.icons img{
  @apply w-[100%] m-2
}

.copy-container {
  position: relative;
}

.edit-btn{
  @apply text-black px-3
}

.tooltip {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 4px 8px;
  font-size: 0.75rem;
  border-radius: 4px;
  white-space: nowrap;
  animation: fade 1s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-5px);
  }
  30% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-5px);
  }
}



